.spot_reviews_total_add_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.spot_reviews_total_add_container  p {
    font-size: 25px;
}
.spot_reviews_total_add_container i {
    font-size: 18px;
    line-height: 25px;
}

.spot_reviews_addreview_button {
    background-color: white;
    border: 1px solid rgb(34,34,34);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    /* margin-right: 100px; */
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.spot_reviews_addreview_button:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
}

.spot_reviews_all_reviews_container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.spot_reviews_review_container {
    margin-bottom: 40px;
    /* flex-basis: 800px; */
    /* width: 800px; */
    width: 50%;
}

.spot_reviews_review_data_container {

}

.spot_reviews_ru_modify_container {
    display: flex;
    justify-content: space-between;
}

.spot_reviews_review_user {
    margin-bottom: 16px;
}

.spot_reviews_review_user_time {
    margin-left: 12px;
}

.spot_reviews_review_data_date {
    color: rgb(113,113,113);
    font-size: 14px;
    margin-top: 5px;
}

.spot_reviews_review_data_review {
    line-height: 24px;
    font-weight: 300;
}

.spot_reviews_review_data_container img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.spot_reviews_review_user {
    display: flex;
}

.spot_reviews_modify_buttons {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.spot_reviews_modify_buttons button {
    background-color: white;
    border: 1px solid rgb(34,34,34);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    /* margin-right: 100px; */
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.spot_reviews_modify_buttons button:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
}
