.createspot_form_outer_wrapper {
    width: 570px;
    height: 645px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.createspot_form_outer_wrapper * {
    font-family: 'Roboto', sans-serif;
}

.createspot_form_wrapper {
    margin-right: 25px;
    margin-left: 25px;
}

.createspot_form_createspot_text {
    text-align: center;
    line-height: 3;
    font-weight: 600;
    border-bottom: 1px solid rgb(235,235,235);
    font-size: 22px;
}

/* .createspot_form_welcome_text {
    font-size: 22px;
    line-height: 3;
    padding-top: 10px;
    font-weight: 500;
} */

.createspot_form_input_div {
    width: 100%;
    height: 114px;
    border-radius: 10px;
    /* padding: -5px;
    border: 1.5px solid rgb(220,220,220) */
}

.createspot_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.createspot_form input {
    display: block;
    width: 100%;
    height: 40px;
    /* border: none; */
}

.createspot_form input::placeholder {
    font-size: 15px;
    font-weight: 100;
    padding-left: 15px;
}

.createspot_form_first_input {
    border: 1.5px solid rgb(220,220,220);
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}

.createspot_form_middle_input {
    border: 1.5px solid rgb(220,220,220);
    /* border-radius: 0px 0px 10px 10px; */
    border-bottom: none;
}

.createspot_form_last_input {
    border: 1.5px solid rgb(220,220,220);
    border-radius: 0px 0px 10px 10px;
}

.createspot_become_host_button {
    background-color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.createspot_become_host_button:hover {
    background-color: rgb(240,240,240);
    border-radius: 20px;
}

#createspot_form_button {
    width: 100%;
    margin-top: 55px;
    background-image: linear-gradient(to right, rgb(228,33,77), rgb(215,8,103));
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    transition: background-image 2s ease-in-out;
    -webkit-transition: background-image 2s ease-out;
    -moz-transition: background-image 2s ease-out;
    -o-transition: background-image 2s ease-out;
}

#createspot_form_button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(233, 77, 113), rgb(247, 34, 134));
}
