/* TODO Add site wide styles */
* {
    margin: 0;
    padding: 0;
}

html {
    /* margin: 0; */
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

body {
    max-width: 1600px;
    width: 100%;
}

#root {
    width: 100%;
}
