.main_header_flex_wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(235,235,235);
}

.main_header {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    height: 80px;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
}

.main_header_right_side {
    display: flex;
}

.logo {
    width: 105px;
}
