.search-page-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 24px;
}

.search-page-container {
    max-width: 1600px;
    width: 1600px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
}

.search-page-spots-container {
    width: 672px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-spot-outer-container {
    min-width: 246px;
    width: 48%;
    max-width: 324px;
}

.search-spot-container {
    width: 100%;
}

.search-spot-container a {
    color: black;
    text-decoration: none !important;
}

.search-spot-image-container {
    width: 100%;
    /* background-color: #DDDDDD; */
}

.search-spot-image-container img {
    width: 100%;
    object-fit: cover;
    aspect-ratio : 20/19;
    border-radius: 12px;
    filter: brightness(75%);
    transition: all 0.5s;
}

/* .search-spot-image-container img:hover {
    filter: brightness(80%);
} */

.search-spot-location-rating-container {
    display: flex;
    justify-content: space-between;
}


.search-page-maps-container {
    width: calc(100% - 672px);
}
