.spotcard_container {
    /* height: 360px;
    width: 280px; */
    overflow: hidden;
}

.spotcard_image_container > img {
    object-fit:cover;
    width: 100%;
    height: 12vw;
    max-height: 287px;
    border-radius: 10px;
}

.spotcard_name {
    
}
