.spotcard_container {
    /* height: 360px;
    width: 280px; */
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.spotcard_location_rating_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spotcard_location_rating_container p {
    font-size: 15px;
}

.spotcard_container a {
    /* height: 360px;
    width: 280px; */
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.spotcard_image_container > img {
    object-fit:cover;
    width: 100%;
    height: 14vw;
    max-height: 245px;
    border-radius: 10px;
}

.spotcard_location {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4rem;
    padding-top: 5px;
    letter-spacing: 0.05em;
}

.spotcard_name, .spotcard_date {
    color: rgb(113,113,113);
    font-size: 13px;
    padding: 1px 0px;
}

.spotcard_price_bold {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.spotcard_price {
    padding-top: 7px;
}
